<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-left">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="">Pagina Oficial</a>
                <a class="nav-link" href="">Contactos</a>
                <a class="nav-link" href="">Dirección</a>
            </div>
        </div>
    </div>
</nav>