<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibos de pago</title>
</head>
<body>
    
<%-include('partials/header.ejs')%>

<%-include('partials/nav.ejs')%>

<div class="formulario">

    <div class="formularioDocs">

<form id="formularioDocs" action="/" method="post">
    <label for="">Num. Docente</label> <br>
    <input type="number" name="NDocente" id="NDocente" required value=<%=NDocente%>> <br>
    <label for="">Nombre</label> <br>
    <input type="text" name="Nombre" id="Nombre" required value=<%=Nombre%>> <br>
    <label for="">Domicilio</label> <br>
    <input type="text" name="Domicilio" id="Domicilio" required value=<%=Domicilio%>> <br>
    <label for="">Nivel</label> <br>
    <select name="Nivel" id="Nivel" value="<%=Nivel%>">
        <option value="1">Licenciatura o Ingeniería</option>
        <option value="2">Maestro en Ciencias</option>
        <option value="3">Doctor</option>
    </select> <br>
    <label for="">Pago Hora Base</label><br>
    <input type="text" name="PHB" id="PHB" required value=<%=PHB%>> <br>
    <label for="">Horas impartidas</label><br>
    <input type="text" name="Horas" id="Horas" required value=<%=Horas%>> <br>
    <select name="Hijos" id="Hijos" value="<%=Hijos%>">
        <option value="0">Seleccione el Numero de hijos</option>
        <option value="1">1 o 2</option>
        <option value="2">3 o 5</option>
        <option value="3">Mas de 5</option>
    </select><br>


    <button class="btn btn-primary mt-3" type="submit">Calcular</button> <br>
    <a class="btn btn-primary mt-3" href="/" id="limpiar">Limpiar</a>
</form>

</div>

</div>
<%
let Pago = 0.00;

if(Nivel == 1){
    Pago = PHB*1.3;
    Pago = Pago * Horas;
}
else if(Nivel == 2){
    Pago = PHB*1.5;
    Pago = Pago * Horas;
}
else if(Nivel == 3){
    Pago = PHB*2;
    Pago = Pago * Horas;
}

let Impuesto = Pago * 0.16;


let Bono = 0.00
if(Hijos <= 2){
    Bono = Pago * 0.05;
}
else if(Hijos <= 5){
    Bono = Pago * 0.1;
}
else if(Hijos <= 5){
    Bono = Pago * 0.2;
}
else if(Hijos == 0){
    Bono = 0;
}

let total = Pago + Bono - Impuesto;

%>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Nombre</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Nivel</th>
        <th scope="col">Pago Hora Base</th>
        <th scope="col">Horas impartidas</th>
        <th scope="col">Hijos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= NDocente %></td>
        <td><%= Nombre %></td>
        <td><%=  Domicilio %></td>
        <td><%= Nivel %></td>
        <td><%= PHB %></td>
        <td><%= Horas %></td>
        <td><%= Hijos %></td>
      </tr>
    </tbody>
  </table>

    <div class="results">
    <h2>Detalles del pago</h2>
    <h4>Pago por horas impartidas: $<%=Pago%></h1>
    <h4>Pago por Bono: $<%=Bono%></h4>
    <h4>Impuestos: $<%=Impuesto%></h4>
    <h4>Total a pagar: $<%=total%></h4>
    </div>
<%
%>
<%-include('partials/footer.ejs')%>
<style>
    .results{
        border-radius: 2px;
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        width: 30%;
        margin-left: 35%;
        background-color: bisque;
    }
    .formulario{
        padding: 20px;
        background-color: rgb(192, 220, 182);

        
    }
    .formularioDocs{
        border-radius: 2px;
        padding: 10px;
        margin: 10px;
        border: 2px solid black;
        width: 30%;
        margin-left: 35%;
    }
    input{
        margin: 10px;
        width: 300px;
    }
    select{
        margin: 10px;
        width: 300px;
    }
    button{
        width: 300px;
    }
    a{
        width: 300px;
    }
</style>

</body>
</html>